@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: night, dim, business, abyss;
  themes: night --default;
}

:root{
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
  
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.no-drag {
  -webkit-user-drag: none; 
  user-drag: none;
}